.cyber-tide-footer {
  position: relative;
  background-color: #000000;
  padding: 40px 20px;
  color: #fff;
  z-index: 1;
  overflow: hidden;
}

.cyber-tide-footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cyber-tide-footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cyber-tide-footer__brand {
  max-width: 50%;
}

.cyber-tide-footer__logo img {
  max-width: 150px;
}

.cyber-tide-footer__description {
  margin-top: 10px;
  font-size: 1rem;
  color: #eaeaea;
  line-height: 1.6;
}

.cyber-tide-footer__info {
  text-align: right;
}

.cyber-tide-footer__title {
  font-size: 1.5rem;
  color: #ff4d4d;
  margin-bottom: 10px;
}

.cyber-tide-footer__info p {
  font-size: 1rem;
  color: #eaeaea;
}

.cyber-tide-footer__bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 1rem;
  color: #eaeaea;
}

.cyber-tide-footer__bottom p {
  margin-top: 5px;
}

.cyber-tide-footer__bottom p:first-of-type {
  font-weight: bold;
}

/* Анимация тумана */
.cyber-tide-footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url('/assets/images/fdfdfdf.png') repeat-x;
  background-size: 100% auto;
  opacity: 0.8;
  animation: fogMove 20s linear infinite;
  z-index: -1;
}

@keyframes fogMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
