.cyber-tide-policy-section {
  background-color: #1a1a1a; /* Темный фон */
  padding: 60px 20px;
  color: #fff;
}

.cyber-tide-container {
  max-width: 1200px;
  margin: 0 auto;
}

.cyber-tide-policy-title {
  font-size: 2.5rem;
  color: #ff4d4d;
  text-align: center;
  margin-bottom: 40px;
}

.cyber-tide-policy-content {
  background: rgba(0, 0, 0, 0.8); /* Прозрачный фон для контента */
  padding: 40px;
  border-radius: 10px;
}

.cyber-tide-policy-subtitle {
  font-size: 1.5rem;
  color: #ff4d4d;
  margin-bottom: 20px;
  margin-top: 40px;
}

.cyber-tide-policy-header {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #eaeaea;
}

.cyber-tide-policy-list {
  list-style: none;
  padding-left: 20px;
  color: #eaeaea;
}

.cyber-tide-policy-list li {
  font-size: 1rem;
  margin-bottom: 10px;
}

.cyber-tide-policy-list li strong {
  color: #ff4d4d;
}

.cyber-tide-policy-subtitle a {
  color: #ff4d4d;
  text-decoration: none;
}

.cyber-tide-policy-subtitle a:hover {
  text-decoration: underline;
}
